.App-header {
  background-color: black;
  min-height: 25vh;
  height: 20%;
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo-container {
  display: flex;
  height: 10vmin;
  width: 10vmin;
}

.logo {
  filter: invert(42%) sepia(93%) saturate(1000%) hue-rotate(87deg) brightness(100%) contrast(60%);
  pointer-events: none;
}

.card {
  padding: 2em;
}

.loader {
  text-align: center;
  font-size: 2rem;
}