.App-header {
  background-color: black;
  min-height: 25vh;
  height: 20%;
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo-container {
  display: flex;
  height: 10vmin;
  width: 10vmin;
}

.logo {
  filter: invert(42%) sepia(93%) saturate(1000%) hue-rotate(87deg) brightness(100%) contrast(60%);
  pointer-events: none;
}

.card {
  padding: 2em;
}

.leader-board-link {
  text-align: center;
  font-size: 0.9rem;
}

.score-table-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.score-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.score-table th,
.score-table td {
  padding: 12px 15px;
}

.form-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%; /* Full width */
  height: 60%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.04);
  border-radius: 5px;
}

.modal-content {
  margin-top: 15px;
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.input {
  color: white;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid forestgreen;
  transition: all 0.3s;
  padding: 10px;
  width: 70%;
  box-sizing: border-box;
  display: block;
  margin: 10px 10px 10px 15px;
}

.input-label {
  size: 20px;
  color: white;
  font-size: 18px;
  padding: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 10px;
}

.input,
.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.input:focus {
  background-color: #00000a;
}

.submit-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}